@import '../../../resources/scaffold.scss';

.consignee {
    width: 100%;
    background-color: $primary-color;

    .consignee-empty {
        display: flex;
        justify-content: center;
        height: 160px;
        font-size: 40px;
        line-height: 160px;
        text-align: center;
        color: #fff;
    }

    .add-icon {
        font-size: 38px;
        margin-right: 4px;
        font-weight: bold;
    }

    .consignee-detail {
        display: flex;
        justify-content: start;
        padding: 40px 40px 30px 40px;
        font-size: $font-size-small;
        color: $white;
        text-align: left;
    }

    .consignee-icon {
        width: 56px;
        height: 56px;
        margin: 59px 26px 59px 10px;
    }

    .condignee-info {
        width: 550px;
        margin-left: $spacing-h-sm;
        margin-right: $spacing-h-sm;
    }

    .condignee-info-text {
        height: 46px;
        line-height: 46px;
    }

    .consignee-name {
        font-size: 40px;
    }

    .text {
        margin-left: $spacing-h-sm;
    }

    .condignee-icon-arrow {
        width: 40px;
        height: 40px;
        margin: 68px 0;
    }
}
