@import '../../resources/scaffold.scss';

.group-code-page {
    font-size: $font-size-small;
    background-color: $white;

    .group-code {
        padding: 0 40px;
    }

    .item-group {
        display: table;
        width: 100%;
        margin: 0;
        padding: 20px 0 10px;
        border-bottom: solid $line-color 1px;
        overflow: visible;
        z-index: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .item {
        position: relative;
        display: block;
        background-color: $white;
        color: $text-color;
        font-weight: 400;
        line-height: 1.428571429;
    }

    .item-text {
        display: table-cell;
        vertical-align: middle;
        width: 116px;
        padding: 14px 20px 14px 0;
        max-width: 400px;
        color: $text-color-quiet;
        text-align: right;
        text-align-last: right;
        overflow: hidden;
    }

    .item-input {
        position: relative;
        display: table-cell;
        width: 546px;
        height: 58px;
        line-height: 28px;
        padding-top: 4px;
        padding-left: 0;
        vertical-align: middle;
        -webkit-appearance: none;
        background: 0 0;
        box-sizing: border-box;
    }

    .group-code-buttons {
        padding: 20px;

        @include clearfix;
    }

    .group-code-button {
        float: left;
        width: calc(50% - 40px);
        margin: 0 20px;
    }
}
